

body {
	background-color: black;
}


.container {
	margin-top: 25px;
	color: aliceblue;
}


.btn {
	background-color: rgb(16, 231, 62);
	margin-bottom: 10px;
	margin-right: 10px;
}

#add {
	background-color: rgb(18, 172, 243)
}


img {
	margin: 15px
}
